name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"  # runs every 12 hours
  workflow_dispatch:  # lets you run it manually

jobs:
  build:
    runs-on: ubuntu-latest
    env:
        TZ: America/Chicago
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: HunterEScheel
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
      

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
